@import url(fuente.css);
.listas{
    list-style: georgian;
    background: aquamarine;
    /* font-family: 'Grenze Gotisch', cursive; */
    width: 300px;
    height: 500px;
    margin: 0 auto;
    border: 3px dotted#a23345;
}
.listas2{
    list-style: lower-greek;
    background: greenyellow;
    /* font-family: 'Arvo', serif; */
}
.footer{
    width: 500px;
    margin: 0 auto;
    background: yellow;
}
.menu{
    background: aqua;
}
.menu ul{
    
    background-color: black;
}
.menu ul li{
    display: inline-block;
    list-style: none;
    background-color: chartreuse;
}
.menu ul li a{
    cursor: pointer;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}
.menu ul li a:hover{
    background-color: chartreuse;

    border-bottom: 6px solid rgb(247, 1, 173);
}